@font-face {
  font-family: javan;
  src: url("./iran/eot/IRANSansWeb.eot");
  src: url('./iran/eot/IRANSansWeb.eot?#iefix') format('arada-opentype'),
  url('./iran/woff/IRANSansWeb.woff') format('woff'),
  url('./iran/ttf/IRANSansWeb.ttf') format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: javan;
  font-size: 95%;
  height: 100vh;
  box-sizing: content-box;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



    .ant-modal-header{
      background: linear-gradient(90deg,#ffaa00,#fdcd01) !important;
      color: #fff;
    }
    .ant-modal-title{
      color: #fff !important;
    }
    .ant-modal-close{
      color: crimson !important;
    }
