@import '_vars.module.scss';

.container{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 12rem 1fr 10rem;
    height: 100%;
    direction: rtl;
    background: whitesmoke;
  }
  .header{
    grid-area: header;
  }
  .main{
    grid-area: main;
    padding-bottom: 100px;
  }
  
  .footer{
    grid-area: footer;
    margin: 10px;
    border-top: 1px solid #ccc;
    background: whitesmoke;
  }