
.container {
    width: 100%;
  margin-top: 15px;
  button{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
      margin-bottom: 10px;
    &.sm {
        padding: 1em - 0.45em 1em;
      }
      &.md {
        padding: 1em;
      }
      &.lg {
        padding: 1em;
      }
    
      &.normal {
        border: unset;
        background: unset;
      }
      &.fill {
        border: unset;
      }
    
      &.rounded {
        border-radius: 20em;
      }
  }
}
